*{
    margin: 0;
    padding: 2;
    
}

body{
    background-color: rgba(41,50,81,255);
    color: rgba(211,211,211,255);

}

header{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249,250,253,255);
}

form{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41,50,81,255);
    color: white;
    border-radius: 2em;
}



.container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: rgba(249,250,253,255);
    text-align: center;
    font-size: 15px;
    visibility: hidden;
    
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(228,228,228,255);
    color: rgb(0, 0, 0);
    border-radius: 2em;
    padding: 5px 10px 7px;
    font-size: 15px;
}

.submit{
    
    width: 40px;
    height: 35px;
    background-color: rgba(228,228,228,255);
    color: black;
    border-radius: 5em;
    cursor: pointer;
    transition: transform .2s;
    
    
}
.submit:hover {
    background-color: #eeeaea;
    color: rgb(196, 186, 186);
    
  }

.search-group{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 4, 0);
    color: rgb(0, 0, 0);
    border-radius: 2em;
}

.local{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.localUpdates{
    border-radius: 2em;
    font-size: large;
    background-color: rgba(228,228,228,255);
    color: rgb(0, 0, 0);


}

.descriptionCard{
    
    justify-content: center;
    align-items: center;
    
}

.weatherContainer{
    
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(97, 95, 95, 0.829);    
    border-radius: 10px;
    
}

.iconsContainer{
    margin-top: 50px;
    display: flex;
    padding-left: 10px;
    justify-content:space-around;
    align-items: center;
    color:rgba(44,44,44,255);
    margin-bottom: 4%;
    
}

.icons{
    color: rgb(255, 255, 255);
    transition: transform .2s;   
    border-radius: 10px;
    background-color:rgba(56,66,102,255);
    filter: blur(1.5 rem);
    
}

.icons:hover{
    transform: scale(1.25);
}

.icon{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: darkgray;
    border-radius: 2em;
}